@*  /*******************************************************************************

 Name:         Home Page
 Author:       Shivani Dubey, Chrome Infotech
 Date:         01/04/2024
 Description:  Ecommerce

  Copyright © 2023 ChromeInfotech Corporation.  All Rights Reserved

 Revisions:
 01/04/2024  1.0.0   SD  Created

*******************************************************************************/ *@
@{
    ViewData[Constant.Keys.Title] = "Home Page";
    Layout = Constant.Layout.CommonLayout;
}

<div>
    <h3>This is Dashboard</h3>
</div>